---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config.ts";

import Footer from "$components/Footer.astro";
import Header from "$components/Header.astro";
import BaseLayout from "$layouts/BaseLayout.astro";
import StackCard from "$components/StackCard.astro"
import Chatbot from "$components/Chatbot.svelte";


const { active = "home" } = Astro.props;



const stack = [
  { 
    text: "Mistral", 
    icon: "mistral", 
    href: "https://mistral.ai" 
  },
  
  { 
    text: "Qdrant", 
    icon: "qdrant", 
    href: "https://qdrant.tech" 
  },
  { 
    text: "Astro", 
    icon: "astro", 
    href: "https://astro.build" 
  },
  { 
    text: "Svelte", 
    icon: "svelte", 
    href: "https://svelte.dev" 
  },
  { 
    text: "Javascript", 
    icon: "javascript", 
    href: "https://www.javascript.com" 
  },
  { 
    text: "Typescript", 
    icon: "typescript", 
    href: "https://www.typescriptlang.org" 
  },
  { 
    text: "Tailwind", 
    icon: "tailwind", 
    href: "https://tailwindcss.com" 
  },
  { 
    text: "pdf-js", 
    icon: "pdf-js", 
    href: "https://github.com/pdf-je/pdf-je" 
  },
]
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Header active={active} />
  <main class="max-w-2xl lg:max-w-3xl mx-auto mt-8 px-4">

    <div class="my-14 space-y-16 max-w-3xl">
      <div class="mt-12">
        <Chatbot client:only="svelte" />
      </div>
     
    </div>

    <!-- <section class="my-14 space-y-8">
      
      <div>
        <h2 class="text-2xl font-semibold mb-4">Upload de documents</h2>
        <p class="text-base-600 dark:text-base-400 mb-4">
          Vous pouvez soit uploader un fichier PDF pour l'OCR, soit un fichier texte directement.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <h3 class="text-xl font-semibold mb-2">OCR de PDF</h3>
            <PdfOcrUploader client:only="svelte"/>
          </div>
          <div>
            <h3 class="text-xl font-semibold mb-2">Upload de texte</h3>
            <QdrantUploader client:only="svelte"/>
          </div>
        </div>
      </div>
      <div>
        <h2 class="text-2xl font-semibold mb-4">Documents disponibles</h2>
        <DocumentList documents={pdfDocuments} client:only="svelte" />
       
      </div>
    </section> -->

    <!-- Tech Stack Section -->
    <section class="animate">
      <div class="space-y-4">
        <p class="font-semibold text-black dark:text-white">
          Service web construit avec des outils open source à préférence française et européenne.
        </p>
        <div class="flex flex-wrap items-center gap-2 mt-5">
          {stack.map(item => (
            <StackCard 
              text={item.text}
              icon={item.icon}
              href={item.href}
            />
          ))}
        </div>
      </div>
    </section>
  </main>

  <Footer />
</BaseLayout>
